name: Master
on:
  push:
    branches:
      - master
  workflow_dispatch:
concurrency:
  group: master
  cancel-in-progress: true
jobs:
  coverage:
    name: Codecov
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      - name: Run coverage
        run: go test ./... -race -coverprofile=coverage.out -covermode=atomic
      - name: Upload coverage to Codecov
        # NOTE: https://github.com/codecov/codecov-action/releases/v5.5.2
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
